<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.sweepbomb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainAc"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SetAc"
            android:label="@string/title_activity_set"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StoreAc"
            android:label="@string/title_activity_store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuAc"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GameAc"
            android:label="@string/title_activity_game"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BackpackAc"
            android:label="@string/title_activity_backpack"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
